<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="93de87">  <td>23/06/04 14:18:38</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;newdoodle.launchbrowser(java.lang.String)[pri:0, instance:TestClasses.newdoodle@5e82df6a]">&gt;&gt;launchbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@952562199</td>   <td></td> </tr>
<tr bgcolor="93de87">  <td>23/06/04 14:18:45</td>   <td>7352</td> <td>&nbsp;</td><td title="&lt;&lt;newdoodle.closebrowser()[pri:0, instance:TestClasses.newdoodle@5e82df6a]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="93de87">  <td>23/06/04 14:18:45</td>   <td>7313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;newdoodle.luanchurl()[pri:0, instance:TestClasses.newdoodle@5e82df6a]">&gt;&gt;luanchurl</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="93de87">  <td>23/06/04 14:18:45</td>   <td>7313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;newdoodle.luanchurl()[pri:0, instance:TestClasses.newdoodle@5e82df6a]">&gt;&gt;luanchurl</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="93de87">  <td>23/06/04 14:18:45</td>   <td>7289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="newdoodle.filterselectproduct()[pri:0, instance:TestClasses.newdoodle@5e82df6a]">filterselectproduct</td> 
  <td>main@952562199</td>   <td></td> </tr>
<tr bgcolor="93de87">  <td>23/06/04 14:18:45</td>   <td>7314</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="newdoodle.verifyselectproduct()[pri:0, instance:TestClasses.newdoodle@5e82df6a]">verifyselectproduct</td> 
  <td>main@952562199</td>   <td></td> </tr>
<tr bgcolor="93de87">  <td>23/06/04 14:18:45</td>   <td>7259</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;newdoodle.storeobject()[pri:0, instance:TestClasses.newdoodle@5e82df6a]">&gt;&gt;storeobject</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="93de87">  <td>23/06/04 14:18:45</td>   <td>7341</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;newdoodle.cleanobjectfornextbrowser()[pri:0, instance:TestClasses.newdoodle@5e82df6a]">&lt;&lt;cleanobjectfornextbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="93de87">  <td>23/06/04 14:18:49</td>   <td>11290</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;newdoodle.cleanobjectfornextbrowser()[pri:0, instance:TestClasses.newdoodle@14dd9eb7]">&lt;&lt;cleanobjectfornextbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="93de87">  <td>23/06/04 14:18:49</td>   <td>11247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;newdoodle.luanchurl()[pri:0, instance:TestClasses.newdoodle@14dd9eb7]">&gt;&gt;luanchurl</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="93de87">  <td>23/06/04 14:18:49</td>   <td>11247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;newdoodle.luanchurl()[pri:0, instance:TestClasses.newdoodle@14dd9eb7]">&gt;&gt;luanchurl</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="93de87">  <td>23/06/04 14:18:49</td>   <td>11240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="newdoodle.filterselectproduct()[pri:0, instance:TestClasses.newdoodle@14dd9eb7]">filterselectproduct</td> 
  <td>main@952562199</td>   <td></td> </tr>
<tr bgcolor="93de87">  <td>23/06/04 14:18:49</td>   <td>11249</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="newdoodle.verifyselectproduct()[pri:0, instance:TestClasses.newdoodle@14dd9eb7]">verifyselectproduct</td> 
  <td>main@952562199</td>   <td></td> </tr>
<tr bgcolor="93de87">  <td>23/06/04 14:18:49</td>   <td>11304</td> <td>&nbsp;</td><td title="&lt;&lt;newdoodle.closebrowser()[pri:0, instance:TestClasses.newdoodle@14dd9eb7]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="93de87">  <td>23/06/04 14:18:45</td>   <td>7519</td> <td>&nbsp;</td><td title="&gt;&gt;newdoodle.launchbrowser(java.lang.String)[pri:0, instance:TestClasses.newdoodle@14dd9eb7]">&gt;&gt;launchbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@952562199</td>   <td></td> </tr>
<tr bgcolor="93de87">  <td>23/06/04 14:18:49</td>   <td>11205</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;newdoodle.storeobject()[pri:0, instance:TestClasses.newdoodle@14dd9eb7]">&gt;&gt;storeobject</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
